
.wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.head{
  //display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  //display: inline-flex;
  justify-content: space-between;
  //height: 40px;
  //padding: 16px 24px 0px 16px;
  //padding: 24px 16px 0px;
  //background: #66bf3c;
  //color: #fff;
}
.body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  //background: yellow;
  //color: #000;
  //height: 400px;
  padding: 40px;
  //overflow: auto;

  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.catalog {
  display: flex;
  justify-content: center;
  padding: 24px 16px 0px;
  flex-wrap: wrap;
}
.item {
  flex: 0 0 220px;
  margin: 0 8px 16px;
  justify-content: flex-end;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    background: #f2f2f2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-border-radius: 10px;
    -o-box-border-radius: 10px;
  }
}
.name {
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
  }


.price {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
  height: 20px;
  font-size: 14px;
  align-items: center;
  text-align: center;
  color: #545454;
}

.il {
  position: absolute;
  width: 26px;
  height: 28px;
  display: flex;
  justify-content: flex-end;
  margin: 8px 8px 0;
  right: 8px;
  top: 8px;
  all: none;
}

.lba {
  height: 26px;
  width: 38px;
  background: transparent;
  border: none;
  background-image: url("./../../img/favorite.svg");
  background-repeat: no-repeat;
  transition: background-image 0.25s ease;
  padding-left: 0;
}

.ilb {
  background: transparent;
  background-image: url("./../../img/favorite_border.svg");
  background-repeat: no-repeat;
  border: none;
  height: 24px;
  width: 24px;
  transition: background-image 0.25s ease;
  &:focus {
    height: 26px;
    width: 38px;
    background-image: url("./../../img/favorite.svg");
    background-repeat: no-repeat;
  }
}

.product {
  width: 155px;
  top: 35px;
  position: absolute;
}
